<h1>楽曲一覧ページ</h1>
<% @audios.each do |audio| %>
  <div>
    <% if audio.img.present? %>
      <%= image_tag audio.img.url, size: '120x120' %>
    <% else %>
      <%= image_tag 'default_jacket.jpeg', size: '120x120' %>
    <% end %>
    <%= link_to "#{audio.title}", audio_path(audio.id) %>
    <p>作曲者:<%= audio.user.name %></p>
    <p>説明:<%= audio.description %></p>
    <audio src="<%= "#{audio.file}" %>" controls="">
      <a src="<%= "#{audio.file}" %>">ダウンロード</a>
    </audio>
  </div>
<% end %>