<div class="container">
  <h2>楽曲投稿ページ</h2>
  <%= form_with model: @audio, local:true do |f| %>
    <div class="mb-3">
      <%= f.label :file, "楽曲ファイル", class: "form-label" %>
      <%= f.file_field :file, :size => 140, class: "form-control-file" %>
    </div>
    <div class="mb-3">
      <%= f.label :img, "画像ファイル", class: "form-label" %>
      <%= f.file_field :img, class: "form-control-file" %>
    </div>
    <div class="mb-3">
    <%= f.label :title, "タイトル", class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :description, "楽曲概要", class: "form-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>
  <% end %>
</div>