<h1>楽曲詳細ページ</h1>
<p><%= @audio.title %></p>
<p>作曲者:<%= @audio.user.name %></p>
<p>説明:<%= @audio.description %></p>
<audio src="<%= "#{@audio.file}" %>" controls="">
  <a src="<%= "#{@audio.file}" %>">ダウンロード</a>
</audio>

<div>
  <p>コメント件数:<%= @audio.comments.count %></p>
  <% @audio.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", audio_comment_path(comment.audio, comment), method: :delete %>
    <% end %>
  <% end %>
  <%= form_with model: [@audio, @comment], local:true do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントを書く" %>
    <%= f.submit "送信" %>
  <% end %>
</div>