<!DOCTYPE html>
<html>
  <head>
    <title>OpenStudio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1 id="logo">Open Studio</h1>
      <% end %>
      <nav>
        <ul>
          <li>
            <%= link_to "Library", audios_path %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "Upload", new_audio_path %>
            </li>
            <li>
              <%= link_to "My page", user_path(current_user.id) %>
            </li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
